
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * @package     omeka
 * @subpackage  neatline-Narrative
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import '_colors'


#neatline-narrative

  [data-neatline-slug]
    border-bottom 3px solid color-highlighted
    padding 0 3px
    cursor pointer

  .highlighted, .selected
    color white
    border 0

  .highlighted
    background color-highlighted

  .selected
    background color-selected
